@media screen and (min-width: 992px) {
	.primary-menu {
		.nav-item {
			.nav-link {
				padding-right: 12px;
				padding-left: 12px;
			}

			&:last-child {
				.nav-link {
					padding-right: 0px;
				}
			}
		}
	}
	.second-menu {
		.nav-item {
			&:last-child {
				.nav-link {
					padding-right: 0;
				}
			}
		}
	}
	.sg-header {
		.sg-mobile-menu {
			display: none !important;
		}
	}
}

/*XL*/
@media screen and (max-width: 1200px) {
	.sg-started {
		.sg-item-link {
			margin-bottom: 20px;
		}
	}
	.sg-header {
		#second-menu {
			.nav-link {
				color: #fff;
				padding: 0 9px;
			}
		}
	}
	.sg-footer {
		.copyright-text {
			text-align: center;
		}

		.footer-nav {
			margin: auto;
		}
	}
}

/*LG*/
@media screen and (max-width: 992px) {
	.sg-header .second-menu {
		background: rgba(0, 0, 0, .8);
	}

	.navbar-dark .navbar-nav .nav-link {
		text-align: center;
	}
	.wrapper-footer {
		h2 {
			line-height: 30px;
		}
	}

}

/*MD*/
@media screen and (max-width: 768px) {
	.find {
		padding: 20px 0;

		h1 {
			font-size: 30px;
		}

		p {
			font-size: 14px;
		}

		input[type=text] {
			max-width: 200px;
			width: 100%;
			height: 45px;
		}

		input[type=submit] {
			font-size: 16px;
			padding: 10px 30px 10px;
		}
	}
	.sg-whoweare {
		.sg-wrapper {
			h2 {
				margin-top: 20px;
			}
		}
	}
	.sg-pre-footer {
		div.wpcf7 {
			margin: 0 auto 25px auto !important;
		}

		.wpcf7 input[type=submit] {
			padding: 15px 20px;
		}
	}
	.button-link {
		padding: 15px 20px;
	}
}

/*SM*/
@media screen and (max-width: 576px) {
	h2{
		line-height: 30px;
	}
	.home-section {
		.sg-started {
			h2 {
				line-height: 34px;
			}

			.sg-item-link .link-img a {
				padding: 4px 0 4px 10px;
				font-size: 16px;
				display: block;
			}

		}

		.sg-head {
			height: 100vh;
			position: relative;
			display: flex;
			align-items: center;

			.sg-caption {
				padding: 30px 35px 30px 20px;
			}
		}

		.sg-testimonials {
			h2 {
				line-height: 30px;
				padding-bottom: 20px;
			}

			#testimonial-slide .slider-caption p.sg-testimonial-content {
				font-size: 16px;
				padding: 15px 10px;
			}
		}
	}
}

