@import "theme/theme_variables";  // <-------- Add your variables into this file. Also add variables to overwrite Bootstrap or UnderStrap variables here
@import "assets/bootstrap4";      // <-------- Loads Bootstrap4
@import "understrap/understrap";  // <-------- Loads the UnderStrap defaults. Just a few classes to incorporate BS in WP
@import "understrap/woocommerce"; // <-------- Loads WooCommerce style fixes. Comment out if you aren't using WooCommerce

// Optional files - If you dont use the corresponding scripts/fonts comment em out
@import "assets/font-awesome";    // <-------- Font Awesome Icon font
@import "assets/underscores";     // <-------- Underscores media styles
@import "assets/lightgallary";     // <-------- LightGallery media styles
@import "assets/slick";     // <-------- LightGallery media styles

// Any additional imported files //
@import "theme/theme";            // <-------- That's where you can add your own design. Thats your part!
@import "theme/contact-form7";    // <-------- Contact Form 7 - Bootstrap 4 support

body{
	background: #fff;
}
h2{
	font-size: 34px;
	color: $primaryRed;
	font-family: $fontEurostile;
	font-weight: 500;
	line-height: 20px;
	margin-bottom: 20px;
}
h3{
	font-size: 20px;
	color: #000;
	line-height: 20px;
}
p{
	font-size: 16px;
	line-height: 23px;
	font-family: $fontHelvetiva;
	color: #000;
}
.button-link{
	padding: 25px 55px 27px 55px;
	background: $primaryYellow;
	color: #000;
	font-family: $fontHelvetiva;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	display: inline-block;
	&:hover{
		color: $primaryRed;
		text-decoration: none;
	}
}
/*Header*/
.site{
	position: relative;
}
.sg-header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	.primary-menu{
		background: #000;

	}
	.second-menu{
		background: rgba(0,0,0,0.4);
		padding-bottom: 0;
		padding-top: 0;
	}
	.loc-link{
		color: $primaryYellow;
		i{
			margin-left: 15px;
		}
	}
	.navbar-dark .navbar-nav .nav-link{
		color: #fff;
	}

	#second-menu {
		.nav-item{
			&:last-child{
				.nav-link{
					padding-right: 0;
				}
			}
		}
		.nav-link{
			color: #fff;
			padding: 0 25px;

		}
	}
	.navbar-dark .navbar-nav .nav-link:focus,
	.navbar-dark .navbar-nav .nav-link:hover{
		color: $primaryYellow;

	}
	.navbar-dark .navbar-nav .active>.nav-link,
	.navbar-dark .navbar-nav .nav-link.active,
	.navbar-dark .navbar-nav .nav-link.show,
	.navbar-dark .navbar-nav .show>.nav-link{
		color: $primaryYellow;
	}

}

/*END Header*/

/*HOME PAGE*/
.home-section{
	.sg-head{
		height: 100vh;
		position: relative;
		display: flex;
		align-items: center;
		.sg-caption{
			padding: 60px 72px 35px 35px;
			background: rgba(0,0,0,0.5);
			p{
				color: #fff;
				font-size: 34px;
				line-height: 38px;
				margin-bottom: 35px;
				font-family: $fontEurostile;
				font-weight: 400;
				//font-weight: bold;
			}
			strong{
				color: $primaryYellow;
			}
			.contact-link{
				padding: 21px 18px 23px 18px;
				background: $primaryYellow;
				color: #000;
				font-family: $fontHelvetiva;
				font-weight: bold;
				font-size: 16px;
			}
		}
	}
	.sg-services{
		padding: 55px 0 34px;
		p{
			padding-bottom: 30px;
		}
	}
	.sg-testimonials{
		padding: 55px 0 10px;
		background: #f7f8f8;
		h2{
			padding: 0px;
		}
		/*Slider*/
		#testimonial-slide{
			width: 100%;
			.slick-slide {
				height: auto;/*define the height of slide*/
				img{
					/*   max-width: 500px;
					max-height: 400px;
					position: absolute;
					top: 45%;
								 left: 20%;
								 left: 30%;
					transform: translate(-50%,-50%); */
					z-index: 100;
					border-radius: 5px;
				}

			}
			button.slick-prev,
			button.slick-next{
				&:before{
					color:#000;
				}
			}
			.slick-dots{
				bottom: -5px;
			}
			.slick-dots li button:before{
				content: "";
				width: 20px;
				height: 20px;
				background: #fff;
				color: #fff;
				border: 3px solid #d8d8d8;
				border-radius: 50%;
			}
			.slick-dots li.slick-active button:before{
				content: "";
				width: 20px;
				height: 20px;
				background: #000;
				color: #000;
			}
			.slider-caption{
				width: 100%;
				text-align: justify;
				/*   position: absolute;
						top: 45%;
						left: 60%;
						left: 70%;
				width: 100%;
				max-width: 550px;
				text-align: center;
						 background: rgba(0, 0, 0, .6);
				transform :translate(-50%, -50%);
				padding: 5px 10px; */
				p{
					color: #000;
					font-family: $fontHelvetiva;
					font-style: italic;
					font-size: 16px;
					line-height: 19px;
				}
				p.sg-testimonial-content{
					font-size: 20px;
					line-height: 26px;
					padding: 30px 15px;
					background: #fff;
					text-align: left;
					margin-bottom: 5px;
					/*  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */
				}
				.sg-author{
					float: right;
					display: block;
					text-align: right;
					line-height: 16px;
					.sg-testimonial-name{
						margin-bottom: 7px;
					}
				}
			}
		}
		/*END Slider*/
	}
	.sg-blog{
		padding: 40px 0;
	}
}

/*FIND TEMPLATE*/
.find{
/*	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;*/
	background: $primaryYellow;
	padding: 25px 0;
	h1{
		font-size: 38px;
		font-family: $fontEurostile;
		font-weight: 700;
		margin-bottom: 0;
	}
	p{
		font-family: $fontHelvetiva;
		font-size: 16px;
		font-weight: 700;
	}
	form{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	input[type=text]{
		max-width: 257px;
		width: 100%;
		height: 57px;
		padding-left: 17px;
	}
	input[type=submit]{
		font-family: $fontHelvetiva;
		font-size: 16px;
		font-weight: 700;
		padding: 18px 40px 15px;
		background: $primaryRed;
		color: #fff;
		outline: none;
		border: none;
		margin-left: 10px;
	}
	input[type=text]::placeholder{
		font-size: 18px;
		color: #bababa;
		font-weight: 700;
	}
}
/*END FIND TEMPLATE*/



/*END HOME PAGE*/

#breadcrumbs{
	font-size: 14px;
	line-height: 23px;
	a{
		color: $primaryRed;
		text-decoration: underline;
	}
}

/*WHO WE ARE PAGE*/
.sg-whoweare{
	.sg-wrapper{
		padding: 23px 0;
		p{
			font-size: 16px;
			line-height: 23px;
			color: #000;
		}
	}
}
/*END WHO WE ARE PAGE*/
/*FRANCHISE PAGE*/
.sg-franchise{
	.sg-wrapper {
		padding: 23px 0;
	}
}
/*END FRANCHISE PAGE*/

/*SERVICES ARCHIVE*/
.sg-services{
	.sg-wrapper {
		padding: 23px 0;
		#breadcrumbs{
			padding-bottom: 0;
		}
	}
	.services-icon{
		width: 85px;
		height: 85px;
		border-radius: 50%;
		background: $primaryRed;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: auto;
	}
	h3{
		margin: 10px 0 17px;
		font-family: $fontEurostile;
		font-weight: 500;
		font-size: 20px;
		a{
			&:hover{
				text-decoration: none;
				color: $primaryRed;
			}
		}
	}
	p{
		font-size: 16px;
		line-height: 23px;
		color: #000;
		font-family: $fontHelvetiva;
		padding-bottom: 50px;
	}
}
/*END SERVICES ARCHIVE*/
/*SERVICES SINGLE*/
.sg-service-single{
	.sg-wrapper {
		padding: 23px 0;
		.sg-content{
			img{
				margin-bottom: 20px;
			}
		}
	}
	.sg-content-single{
		padding: 28px 0 0;
		position: relative;
		&:after{
			content: "";
			width: 100%;
			height: 1px;
			background: #d4d4d4;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
	}
	.sg-services{
		p:first-of-type{
			width: 100%;
			max-width: 440px;
			margin: auto;
		}
		h2{
			position: relative;
			display: block;
			padding: 37px 0 0;
			&:after{
				content: "";
				width: 100%;
				height: 1px;
				background: #d4d4d4;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
			}
		}
	}
}
/*END SERVICES SINGLE*/
/*TO GET STARTED TEMPLATES*/
.sg-started{
	padding: 0 0 55px;
	h2{
		position: relative;
		padding-top: 55px;
		&:after{
			content: "";
			width: 100%;
			height: 1px;
			background: #d4d4d4;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
	}
	p{
		width: 100%;
		max-width: 440px;
		margin: auto;
		margin-bottom: 25px;
	}
	.sg-item-link{
		position: relative;
		display: block;
		img{
			width: 100%;
		}
		.link-img{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: $primaryYellow;
			a{
				padding: 8px 0 8px 18px;
				font-family: $fontEurostile;
				font-weight: 500;
				font-size: 20px;
				display: block;
				&:hover{
					text-decoration: none;
					color: $primaryRed;
				}
				i{
					margin-left: 15px;
				}
			}
		}
	}
}
/*END TO GET STARTED TEMPLATES*/

/*BLOG*/
.sg-blog{
	.sg-wrapper{
		padding: 23px 0;
	}
	h3{
		font-size: 28px;
		font-family: $fontEurostile;
		line-height: 34px;
		color: #000;
		text-align: left;
	}
	p{
		font-size: 16px;
		line-height: 24px;
		color: #000;
		text-align: left;
	}
	.sg-blog-image{
		display: block;
		position: relative;
		margin-bottom: 23px;
		.post-time{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			padding: 10px 13px 13px 13px;
			background: $primaryYellow;
			color: #000;
			p{
				margin:0;
				font-family: $fontEurostile;
			}
			.post-month{
				font-size: 16px;
				letter-spacing: 2px;
				text-transform: uppercase;
			}
			.post-number{
				font-weight: 500;
				font-size: 28px;
				letter-spacing: normal;

			}
		}
		img{
			display: block;
			width: 100%;
		}
	}
	.read-more-link{
		text-decoration: underline;
		font-size: 16px;
		line-height: 23px;
		color: $primaryRed;
	}
	.blog-author{
		display: block;
		position: relative;
		padding: 17px 0 15px;
		strong{
			font-size: 14px;
			font-weight: 700;
		}
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 1px;
			background: #e1e1e1;
		}
		&:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 1px;
			background: #e1e1e1;
		}
	}
}
/*END BLOG*/
/*PROJECTS*/
.sg-projects{
	.sg-content{
		padding: 25px 0 30px;
	}
	.sg-projects-link{
		position: relative;
		display: block;
		margin: 0 0 20px 0;
		img{
			width: 100%;
		}
		.link-img{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: $primaryYellow;
			a{
				padding: 5px 0 5px 18px;
				font-family: $fontEurostile;
				font-weight: 500;
				font-size: 20px;
				display: block;
				&:hover{
					text-decoration: none;
					color: $primaryRed;
				}
				i{
					margin-left: 15px;
				}
			}
		}
	}
}
.sg-project-single{
	.sg-content{
		padding: 25px 0 30px;
	}
	#lightgallery{
		a{
			&:hover{
				transform: scale(1.1);
				transition: all 0.5s;
			}
			img{
				margin-bottom: 20px;
			}
		}
	}

}
/*END PROJECTS*/
/*SEARCH*/
#search-wrapper{
	.sg-search{
		padding: 30px 0;
	}
	#searchform{
		max-width: 350px;
		width: 100%;
		display: block;
	}
	.submit{
		background: $primaryRed;
	}
	h1{
		color: $primaryRed;
	}
}
/*END SEARCH*/
/*FOOTER*/
.wrapper-footer{
	h2{
		color: #fff;
	}
}
.sg-pre-footer{
	background: $primaryRed;
	padding: 40px 0 30px;
	.wpcf7-not-valid-tip{
		position: absolute;
		width: 200px;
		color: #fff;
	}
	.wpcf7 .wpcf7-validation-errors{
		margin: 0;
		color: #fff;
		background: transparent;
		border: 1px solid #fff;
		height: auto;
	}
	p{
		color: #fff;
		font-size: 16px;
		line-height: 24px;
	}
	.projects-link{
		display: block;
		margin-bottom: 25px;
		border: 1px solid #fff;
		img{
			width: 100%;

		}
		&:hover{
			border: 1px solid #000;
		}
	}
	.button-link{
		background: #fff;
		color: $primaryRed;
		&:hover{
			background: #000;
			color: #fff;
		}
	}

	.text-link{
		text-decoration: underline;
		color: #fff;
		font-size: 12px;
		line-height: 24px;
		font-family: $fontEurostile;
		&:hover{
			color: #000;
		}
	}
}
.sg-footer{
	background: #000;
	.copyright-text {
		color: #fff;
		font-size: 12px;
		line-height: 34px;
		margin: 0;
	}
	.copyright-link{
		color: #fff;
		font-size: 12px;
		line-height: 34px;
		text-decoration: underline;
	}
	.nav-link{
		color: #fff;
		font-size: 12px;
		line-height: 34px;
	}
}

.form-control,
.wpcf7 .wpcf7-validation-errors,
/*.wpcf7 input[type=color],
.wpcf7 input[type=date],
.wpcf7 input[type=datetime-local],
.wpcf7 input[type=datetime],
.wpcf7 input[type=file],
.wpcf7 input[type=month],
.wpcf7 input[type=number],
.wpcf7 input[type=range],
.wpcf7 input[type=search],
.wpcf7 input[type=tel],
.wpcf7 input[type=time],
.wpcf7 input[type=url],
.wpcf7 input[type=week],*/
.wpcf7 input[type=email],
.wpcf7 input[type=submit],
.wpcf7 input[type=text],
.wpcf7 select,
.wpcf7 textarea{
	border-radius: 0;
}
.wpcf7 .wpcf7-form label{
	margin-bottom: 24px;
}
.btn-outline-primary.focus,
.btn-outline-primary:focus,
.wpcf7 input.focus[type=submit],
.wpcf7 input:focus[type=submit]{
	box-shadow: none;
}
.wpcf7 input[type=submit]{
	width: auto;
	height: auto;
	padding: 18px 35px;
	color: $primaryRed;
	font-weight: 700;
	background: #fff;
	float: right;
}
/*END FOOTER*/

/*CONTACT PAGE*/
.sg-contact{
	.sg-wrapper{
		padding: 23px 0;
		.wpcf7-not-valid-tip{
			position: absolute;
			width: 200px;
		}
		.wpcf7-validation-errors{
			margin: 0;
		}
	}
	.wpcf7 input[type=submit]{
		margin-bottom: 20px;
	}
}
/* END CONTACT PAGE*/

/*ERROR 404*/
.sg-error-404{
	.not-found{
		margin: auto;
		padding: 150px 0;
		text-align: center;
		h1{
			color: $primaryRed;
			font-size: 40px;
		}
	}
}

/*ENd ERROR 404*/
@import "media-query";
