// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
$primary: #000; // Thats a sample how you could change a BootStrap variable.
$primaryYellow: #ffdd00;
$primaryRed: #db302c;
$fontHelvetiva: 'Source Sans Pro', sans-serif;
$fontEurostile: 'Roboto', sans-serif;
